# eclipse
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle
build/classes
build/createMcpToSrg
build/downloadMCMeta
build/downloadMcpConfig
build/extractSrg
build/natives
build/reobfJar
build/resources
build/tmp

# other
eclipse
run

.github
gradle*

# Files from Forge MDK
forge*changelog.txt